<!-- Vy för betalningsbekräftelse -->
<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>StudentSolvers - Tack för din beställning!</title>
    <link rel="stylesheet" href={{ url_for('static', filename="bootstrap/css/bootstrap.min.css") }}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href={{ url_for('static', filename="fonts/font-awesome.min.css") }}>
    <link rel="stylesheet" href={{ url_for('static', filename="fonts/ionicons.min.css") }}>
    <link rel="stylesheet" href={{ url_for('static', filename="css/Features-Clean.css") }}>
    <link rel="stylesheet" href={{ url_for('static', filename="css/Footer-Clean.css") }}>
    <link rel="stylesheet" href={{ url_for('static', filename="css/Header-Blue.css") }}>
    <link rel="stylesheet" href={{ url_for('static', filename="css/Navigation-with-Button.css") }}>
    <link rel="stylesheet" href={{ url_for('static', filename="css/Registration-Form-with-Photo.css") }}>
    <!-- <link rel="stylesheet" href="css/styles.css"> -->
    <link rel="stylesheet" href={{ url_for('static', filename="css/stripe.css") }}>

    <script src="https://kit.fontawesome.com/95dc69795e.js" crossorigin="anonymous"></script>

</head>

<div class="jumbotron text-center">
  <h1 class="display-3">Tack!</h1>
  <p class="lead">Ert uppdrag är nu tillgängligt för studenter att söka. </p>
  <hr>
  <p>
    Frågor?  <a href="" style="margin-left:10px;">   Kontakta oss</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" onClick="parent.location='../'"role="button" style="margin-top: 20px;">Startsida</a>
  </p>
</div>
   



</body>
</html>