<!-- Vy för att redigera studentprofil
<script id="view-editstudentprofile" type= "text/html"> 
    <section class="register-photo">
        <div class="form-container">
            <form method="post">
                <h2 class="text-center"><strong>Redigera studentprofil</strong></h2>
                <div class="form-group" ><input class="form-control" type="text" placeholder="Studieort" id="studieort_edit_student"></div>
                <div class="form-group" ><input class="form-control" type="email" name="email" placeholder="Email" id="email_edit_student"></div>
                <div class="form-group" ><input class="form-control" type="text" placeholder="Utbildning" id="utbildning_edit_student"></div>
                <div class="form-group"><button class="button_white" type="button" style="background: var(--blue);" onclick="updateStudentProfile()">Spara</button></div>
            </form>
        </div>
    </section>
</script> -->